<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="member/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Update Category</title>
</head>
<body>
	<section>
	      		<div class="container-fluid mt-1">
	      			<div class="row">
	      					<div class="col-md-10 offset-md-1">
						      							 
					       <div class="card mt-2 mx-auto  bg-light">
					             <div class="heading-div" style="background-color:rgba(6, 14, 35, 0.99); border-radius:10px;">
					        <h4 class="text-center  text-white pt-1 mt-1">Update Category Record</h4>
					    </div>	
					    
					            <div class="card-body bg-light">
					       
					           	 <div class = "container">
					           	 
					                   <form action="#"
	      							 enctype="multipart/form-data"
	      							 method="post"
	      							 th:action="@{/member/process-category-update}"
	      							 class="mt-2"
	      							>
	      							
	      							<input type="hidden" name="cat_id" th:value="${cat.cat_id}"/>
					
					            	 <div class="controls">
					
					           
					                        
					                <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                            <label for="category">Category Name</label>
					                             <input id="category" type="text" name="cat_name" class="form-control" th:value="${cat.category}" required="required" >
					                           
					                            </div>
					
					                        </div>
					                   </div> 
					                        
								
								    <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                            <label for="category_desc">Category Description</label>
					                            <textarea id="category_desc" name="description" class="form-control" placeholder="Enter something about new category..." rows="4" required="required" th:text="${cat.description}"></textarea>
					                                
					                            </div>
					
					                        </div>
					                   </div> 
					                
					                 
					                        
					                                 
					                <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                        <label for="category_logo">Update Category Image</label>
					                            <input type="file" name="category_image" class="form-control" id="category_logo">
										        
					                            </div>
					
					                        </div>
					                        
					                     </div>
					                     
					                     <div class="row mb-3">
					                     	  <div class="col-md-12">
					                        
					                        <input type="submit" style="width:100%;background: #c0392b !important;color: white !important;" class="btn btn-lg btn-block" value="Update Category" >
					                    
					               			 </div>
					                     </div>
					                     
					                     
					                  </div>
					        
					         </form>
					     		   </div>
					            </div>
							</div>
       				 		</div>
	      				</div>
	      			</div>
	      		
	      	
	      	 <script>
   	$(document).ready(()=> {
   		$(".item").removeClass("active");
   		$('#manageeventcat').addClass("active");
   	});
   </script>
	      	
	    
	</section>
	
	
   
</body>
</html>