<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="member/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Update Profile</title>
</head>
<body>
	<section>
	      			<div class="container-fluid mt-1">
	      			<div class="row">
	      					<div class="col-md-10 offset-md-1">
						      							 
					        <div class="card mt-2 mx-auto  bg-light">
					             <div class="heading-div" style="background-color:rgba(6, 14, 35, 0.99); border-radius:10px;">
					        <h4 class="text-center  text-white pt-1 mt-1">Update Profile</h4>
					    </div>	
					    
					            <div class="card-body bg-light">
					       
					           	 <div class = "container">
					           	 
					                   <form action="#"
	      							 th:object="${user}"
	      							 enctype="multipart/form-data"
	      							 method="post"
	      							 th:action="@{/member/process-update-profile}"
	      							 class="mt-2"
	      							>
					
								<input type="hidden" name="id" th:value="${user.id}"/>
						
					            	 <div class="controls">
					
					                <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                            <label for="username">Your Name</label>
					                            <input id="username" type="text" name="name" class="form-control" required="required" th:value="${user.name}">
					                            
					                        </div>
					                    </div>
					                  
					                </div>
					                
					              
					                        
					                <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                           <label for="useremail">Your Email</label>
					                            <input id="useremail" type="text" name="email" class="form-control" required="required" th:value="${user.email}">
					                                
					                            </div>
					
					                        </div>
					                   </div> 
					                        
									<div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                            <label for="contactno">Your Contact</label>
					                            <input id="contactno" type="number" name="phone" class="form-control"  required="required" th:value="${user.phone}">
					                            
					                        </div>
					                    </div>
					                   
					                </div>
					                
					                 <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                            <label for="about">Your About</label>
					                            <textarea id="about" name="about" class="form-control" rows="4" required="required"  th:text="${user.about}"></textarea>
					                                
					                            </div>
					
					                        </div>
					                   </div> 
					                  
					                <div class="row mb-3">
					                    <div class="col-md-12">
					                        <div class="form-group">
					                         <label for="admin_image">Change Profile Image</label>
					                            <input type="file" name="imageUrl" class="form-control" id="admin_image">
										        
					                            </div>
					
					                        </div>
					                        
					                     </div>
					                     
					                     <div class="row mb-3">
					                     	  <div class="col-md-12">
					                        
					                        <input type="submit" style="width:100%;background: #c0392b !important;color: white !important;" class="btn btn-lg btn-block" value="Update Profile" >
					                    
					               			 </div>
					                     </div>
					                     
					                     
					                  </div>
					        
					         </form>
					     		   </div>
					            </div>
							</div>
       				 		</div>
	      				</div>
	      			</div>
	      		
	      		<script>
   	$(document).ready(()=> {
   		$(".item").removeClass("active");
   		$('#manageprofile').addClass("active");
   	});
   </script>
   
	      	
	    
	</section>
	
	
   
</body>
</html>