<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="member/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Show Sponsors</title>
</head>
<body>
	<section class="mt-2">
		<div class="card mr-3 ml-3" style="margin:15px;">
		 <div class="heading-div" style="background-color:rgba(6, 14, 35, 0.99); border-radius:10px;">
		        <h3 class="text-center  text-white pt-1 mt-1">Sponsor Record</h3>
		    </div>
		<!-- this div only shown when contact is set in model -->
		  <div class="card-body mr-3">
		  	
		  	<div class="table-responsive">
		  		<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Image</th>
			      <th scope="col">Category</th>
			      <th scope="col" class="text-center">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			   
			   
			    <tr th:each="c : ${sponsor}">
			      <th th:text="'CAT2024' + ${c.sponsor_id}"></th>
			      
			       <td>
			      <img src="" class="my_profile_picture" th:src="@{'/image/sponsor/' + ${c.image}}" alt="profile"/>
			      </td>
			     
			      <td th:text="${c.sponsor}"></td>
			      
			      <td class="text-center">
			   		
			  		<!-- post  action we want needed for the update that's why it is embedded in form tag. -->
			  		<form method="post" class="mt-2" th:action="@{'/member/update-sponsor/'+ ${c.sponsor_id}}">
			  		   <a th:onclick="|deleteSponsor(${c.sponsor_id})|" class="btn btn-danger btn-sm">Delete</a>
			  
			  		<button type="submit" class="btn btn-primary btn-sm">Update</button>
			  	
			  		</form>
			  	
			    </td>
			    </tr>
			  
			  </tbody>
			</table>
		  	
		  	</div>
		  	

			
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			   
			    <li th:if="${currentPage != 0}" class="page-item"><a class="page-link"  th:href="@{'/member/show-sponsor/'+${currentPage-1}}">Previous</a></li>
			   
			    <li   th:classappend="${currentPage==i-1?'active':''}"  
	 				th:each="i : ${#numbers.sequence(1,totalPages)}"  class="page-item"><a class="page-link" 
	 				th:href="@{'/member/show-sponsor/'+${i-1}}">
	 			 <span th:text="${i}"></span></a></li>
			    
			     <li  th:if="${currentPage != totalPages-1}" class="page-item"><a class="page-link" th:href="@{'/member/show-sponsor/'+${currentPage+1}}">Next</a></li>
			  
			  </ul>
			</nav>
 
			
			
		  </div>
		  
		</div>
		
	 <script>
   	$(document).ready(()=> {
   		$(".item").removeClass("active");
   		$('#manageeventspons').addClass("active");
   	});
   </script>
	</section>
	 
</body>
</html>